body {
    color: #000;
  
    height: 100%;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
   
}

.btn-info{
  color: white;
  background-color: #255661 !important;
}
a {
    text-decoration: none;
}

h1 {
    font-family: sans-serif;
}

h3 {
  font-family: sans-serif;
  margin-top: 2rem;
}


.iconsNavbar{
  transform: scale(1.5);
 
}

.iconsNavbar2{
  transform: scale(1.6);
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.DropdownMenu {
  min-width: 900px !important;
}

.cart {
  color: #101622;
}

/* product page */
.productImageSize{
  max-width: 300px;
  max-height: 300px;
}
.sm-font {
  font-size: 12px;
}

.cartProductCard {
  background-color: black;
  color: #fff;
  padding: 6px;
  width: 100%;
  margin-right: 2%;
  border: 2px solid #26a69a;
  cursor: pointer;
}

.cartProductCard:hover {
  background-color: #00796b;
}

.order {
  color: #26a69a;
  padding: 6px 5px;
  width: 48%;
  margin-left: 2%;
  border: 2px solid #26a69a;
  cursor: pointer;
}

.order:hover {
  color: #fff;
  background-color: #00796b;
}

.vl {
  border-left: 2px solid black;
  height: 20px;
}

{/* ProductGrid*/}
.productgridFav {
  position: absolute;
  top: 10px;
  color: #29335c;
  font-weight: bold;
  background-color: #eeeeee;
  padding: 7px;
  border-radius: 50%;
}
.productgridFav-Checked {
  color: #e53935;
}
.productgridFav:hover {
  color: #e53935;
  cursor: pointer;
}

/*favoritesCard*/
button.delete-btn{
  background-color: #0b3954;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 5px;
}

button.add-btn{
  background-color: #0b3954;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 5px;
}
/*END favoritesCard*/

.pic1 {
  max-width: 200px; /* 90% */
  max-height: 200px; /* null */
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.product-pic {
  padding-left: auto;
  padding-right: auto;
  width: 100%;

}

.card {
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  margin: 50px 20px;
  position: relative;
}

.card-1 {
  padding: 30px 30px 20px 30px !important;
  border: none;
  height: 30rem;
  width: 20rem;
}

.card.card-1{
  border-color: rgb(11, 57, 84);
  border-width: 3px;
  border-radius: 20px;
}

.buyQuantity{
  background-color: red;
}

.category {
  padding-top: 25px;
  color: grey;
}

/*horizontalMenuItem*/
.category-link{
  color: #534d41;
}

.category-link:hover{
  text-decoration: none;
  text-align: center;
  padding-bottom: 1px;
  border-bottom-style: solid;
  color: #06a77d;
}
/*End horizontalMenuItem*/

.product-name {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

{/* ProductGrid*/}

div.row.px-3.justify-content-around{
  background-color: white;
}

.vl {
  border-left: 1px solid rgb(143, 157, 167);
  height: 30px;
}

.price {
  font-size: 18px;
}

/*Set quantity*/
.row.px-3.justify-content-between{
  margin: 2px;
}

.sm-text {
font-size: 14px;
}


.btn.btn-light{
  color: #fff;
  border-radius: 15px;
  font-weight: bold;
  background-color: #0b3954;
  
}

.btn.btn-light:hover{
  color: #0b3954;
  background-color: #bfd7ea;
}

.book,
.book-img {
    max-width: 7.5rem;

    max-height: 10rem;
}

.book {
    margin: 20px 15px 5px 15px;
}

.rc-menu-root {
    background-color: white;
}
.rc-menu-submenu{
    background-color: white;
}

/* Frontpage Horizontal line */
.horizontal-line1 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #000000;
    line-height: 0.1em;
    margin: 10px 0 10px;
    padding-top: 10px;
}

.logoSize{
  max-width: 4.688rem;  /* 75 px*/
}
.horizontal-line2 {
    background:#ffffff;
    padding: 0 10px;
}

.verticalLine{
  border-left: 1px solid #000000;
  height: 100%;
}

/* CAROUSEL - FRONTPAGE */
.caruselSizeController{

  max-height: 800px;
}
/*
.caruselImageController{
  width:100%;
}
*/
a.carousel-control-next, a.carousel-control-prev {
    position: absolute;
    top: 50%;
    width: 10%;
    height: 15%;
    background-color: lightgrey;
}

a.carousel-control-next:hover, a.carousel-control-prev:hover {
    background-color: gainsboro;
}

.carousel-inner > .carousel-item > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* MARQUEE */
.marquee-container{
    white-space: nowrap;
    display: flex;
    flex-direction: row;

}
/* NAVBAR*/

.nav, ul {
    list-style: none;
    padding-left: 0;
}

.nav__menu {
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
}

.nav__menu-item {
    display: inline-block;
    position: relative;
    margin-left: 20px;

}
.nav__menu-item:hover {
    text-decoration: underline;
}

.nav__menu-item:hover .nav__submenu {
    display: block;
}


/* submenu*/
.nav__submenu {
    font-weight: 300;
    text-transform: none;
    display: none;
    position: absolute;
    width: 70vw;
    height: 83vh;
    background-color: lightgrey;
    text-align: center;
}


/* submenu items hover */
.nav_submenu-item:hover {
    cursor: pointer;
    background: #06a77d;
    text-decoration: underline;
}
.nav-container {
    /*z-index: 10; */
    position: relative;
}

.nav-border{
  border-bottom: 1px solid #000000;
  line-height: 0.1em;
}

/* HAMBURGER MENY RELATED */
.myImg {
    margin: 0px 30px 0px 10px;
    float: left;
    height: 35px;
    width: 35px;
    vertical-align: middle;
}

/* END OF NAVBAR*/


/* Kategory nav bar */
.tabbable .nav-tabs .navbarKat {
  overflow-x: auto;
  flex-wrap: nowrap;
}
div.scrollmenu {
  overflow-x:auto;
  white-space: nowrap;
  text-align: center;

}

@media only screen and (max-width: 700px) {
  div.scrollmenu {
    overflow-x:scroll;
    white-space: nowrap;
    text-align: center;
  
  }
}
/* margin: 0.313rem;*/

.navitem{
  cursor: pointer;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0.875rem;
  text-decoration: none;


}
/* padding 14 px*/

.navitem:hover {
  color: #ff6663;
  padding: 14px;
}

.imageSize{
  width: 4.5em;
  height: 4.5em;
  transition: transform .4s; /* Animation */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*Enlarge icons*/
.imageSize:hover{
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.nav-link.frontpageIconsText {
  text-align: center;
  font-size: small;
  color: #534d41;
}

.nav-link.frontpageIconsText:hover {
  text-align: center;
  padding-bottom: 1px;
  border-bottom-style: solid;
  color: #1E7753;
}

.nav-link.imageSize{
  position: relative;
  height: auto;
}


.navbarColor{
  background-color: #E3F2FD;
}
.hamburgerIconMargin{
  margin-left: 12px;
  margin-top: 4px;
}

.featured-article {

	height: 50em;
	position: relative;
	margin-bottom: 1em;
}

.btn-circle.btn-sm {
  width: 4.5em;
  height: 4.5em;
  border-radius: 60px;
  top: -200px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  background-color: #0b3954;
  margin-bottom: 3em;
}

.btn-circle.btn-sm:hover{
  color: #041f2f;
  background-color: #bfd7ea;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* CHECKBOX */
.checkboxItem{
  white-space: nowrap;display:inline
}

.btn-circle.btn-sm {
  width: 12em;
  height: 12em;
  border-radius: 60px;
  font-size: 8px;
  text-align: center;


}

.category-title{
  background-color: pink;
}

/* ArticleBoxes.jsx*/
.article_container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.article_container img {
    width: 100%;
    height: auto;
}

.article_container .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: teal;
    color: white;
    font-size: 14px;
    padding: 7px 45px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    white-space:nowrap
}

.article_container .btn:hover {
    background-color: darkcyan;
    color: white;

}

.article_container .btn:hover {
  background-color: #bfd7ea;
  color: black;
  font-weight: bold;

}

.outlined_btn {
    position: absolute;
    top: 40%;
    left: 65%;
   color: #003d85;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    white-space:nowrap
  
}

.btn-outline-secondary {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate( -70%, -50% );
    text-transform: uppercase;
    border: 2px solid teal !important;
    color: black !important;
}

.btn-outline-secondary:hover {
    background-color: darkcyan !important;
    color: white !important;
}

.text-block {
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate( -70%, -50% );
    text-align: right;
    color: black;
    font-size: 12px;
}
/* ARTIKKLER PAGE*/

/* Responsive box-model. Use when you need to have a responsive text-block */
.square {
    position: relative;
    width: 50%;
    transform: translate(50%);
}

.square:after {
    content: "";
    display: block;
}

.content {
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

.article-main-container {
    background-color: honeydew;
    padding: 15%;
    margin-top: -20%;
    width: 190%; /* Størrelsen på diven */
    transform: translate(-23.7%);
    margin-bottom: -20%;
}



/* Social media box */
.socialMediaContact-container {
    background-color: #F7C9B7;
    padding: 5%;
    margin-top: 12%;
    width: 150%; /* Størrelsen på diven */
    transform: translate(-15%);
}


.article-img-container {
    width: 60%;
    min-width: 60%; /* The minimun size of the img when scaling*/
}

.allArticle-main-container {
    background-color: honeydew;
    padding: 15%;
    width: 150%; /* Størrelsen på diven */
    transform: translate(-16.5%);
}

/* Allarticles*/

.card {
    width: 18rem;
    padding: 0;
    transform: translate(0,-8%);
}

/* BILDE */
.mycard-header {
    width: 100.1%;
    min-height: 175px;
    max-height: 175px;
    transition: all .3s ease-in-out;
}

.card:hover .mycard-header {
    background-size: 403px 267px;
    background-position: -16px -16px;
}


/* card bak */
.card-body {
    background-color: white;
    border-radius: 0 0 1px 1px;
    padding: 0 26px 26px 26px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

}

/* card foran */
.card-body-header {
    position: absolute;
    left: 0;
    padding: 1.6rem;
    background-color: white;
    transition: all .3s ease-in-out;
    margin-top: -15%;
    width: 100.1%;
}

/* Hvor høyt kort foran beveger seg opp når hover */
.card:hover .card-body-header {
    margin-top: -77%; /*-39.5vh hvor høyt den går*/
    height: 225px; /* høyden på hover kort */
}

/* text når hover*/
.card-body-description {
    opacity: 0;
    color: #757B82;
    line-height: 110%;
    padding-top: 5%;
    transition: all .2s ease-in-out;
}


.card:hover .card-body-description {
    opacity: 1;
    transition: all .5s ease-in-out;
}

/* 1.2 Footer*/
.footer-style {
    background-color: #042434;
    color: white;
}

.footer-color {
    color: white;
}

/* NewsLetter */

.newsletter-style {
    background-color: lightgrey;
}

.newsletter-btn {
    background-color: #0056b5 ;
    border: none;
    border-radius: 20px;
    padding: 10px 55px;
    outline: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    white-space: nowrap;
}

.newsletter-btn:hover {
    background-color: blue;

}

.newsletter-btn:focus {
    outline: none;
}

.link-to-condition{
  color: #003d85;
}

/* Brandpage*/
.brandImage{
  max-width: 330px;
  max-width: 330px;
  margin: auto;
}

light-font .breadcrumb-item + .breadcrumb-item::before {
  color: #fff; }
  .light-font .breadcrumb-item.active {
  color: #cfd8dc; }

  /* Quiz*/

#background{
  position: fixed; 

  background-image: url(./quizBackground.jpg);
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;


}
.quizCloseButton{
  font-size: 2rem;

}

  .quizContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .jumpbotronpadder{
    width: 800px;
    height: 800px;
  }

  /* Desktop skincare carusel*/

  .desktopSkincareCaruselWrapper{
    background-color: white;
    overflow:hidden
  }
  .desktopCardButtons{
    margin: 30px;
    
  }
  
  .DesktopSkincareCaurselCardImage{
    max-width: 525px;
    max-height: 525px;
  }

  .desktopBulletpointImage{
    width: 80%;
    
  }
/*
  .myCaruselIndictaor{
    background-color: grey;
    bottom:-200px;
    top:20px;
   
    z-index: -5;
  }

*/
  .myCaruselIndictaor{
    background-color: grey;
    bottom: -20px !important;
   
    z-index: -5;
  }


  .carousel-indicators .active{

    background-color: #00796b;
}
.desktopCarusel .carousel-indicator{
  color: hotpink;
  background-color:hotpink;
}
 
/* Mobile */

.desktopSkincareCaruselWrapper{
  background-color: white;
  overflow:hidden
}

.MobileSkincareCaurselCardImage{
  max-width: 225px;
  max-height: 225px;
  align-self: center;
}

.desktopBulletpointImage{
  width: 80%;
  
}

.facircle{
  transform: scale(1.5);
}